body{
    margin: 0; 
    height: 100vh;
    width: 100vw;
    display: flex; 
    flex-direction: column; 
    font-family: 'Dosis', sans-serif; 
    overflow: hidden;
    position: fixed;
}
* {box-sizing: border-box;}

/* Table of content */

.full-height {height: 100vh;}

.table-of-content{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    right: 0;

    z-index: 1;
    justify-content: start;
    width: 1em;
    padding: 1em 0;

    border-radius: 5px 0 0 5px;

    transition: width .5s ease, background-color .5s ease;
}

.progress-parent{
    height: 100%;
    background-color: rgba(40, 26, 73, 0.31);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
}
.progress{
    transition: flex-grow .8s ease;
}

.progress-display{
    border-radius: 1em;
    width: 9px;
    height: 30px;
    mix-blend-mode: lighten;
    background-color: #0d2640;
    z-index: 3;
}

.table-of-content:hover{
    width: 200px;
    background-color: #192c49ad;
}

.table-of-content ol{
    display: flex;
    list-style: none;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    font-size: 1.5em;
}

.table-of-content li{
    cursor: pointer;
    white-space: nowrap;
    width: 100%;
    color: rgb(214, 194, 194);
    transition: color .4s ease, padding .4s ease;
}
.table-of-content li:hover{
    color: white;
    padding-left: 1em;
}


/* PAGE */

.page{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding: 1em 2em 1em 1em;

    top: 100vh;
    opacity: 0%;
    transition: top .9s ease, opacity 1s ease .2s, transform .8s ease;
}

.above{top:-100vh;}
.below{top: 100vh;}
.page:not(.target){transform: scale(.3, .2);}
.target{top: 0; opacity: 100%; transform: scale(100%)}
