body {margin: 0;}
.hide {display: hidden;}

h1, h3 { text-align: center; }

.post{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro{
    display: inline-block;
    background-color: aliceblue;
    border-radius: 6px;
    padding: 1em;
    margin: 1em;
    text-align: justify;
    max-width: 340px;
}

/* #region iframe manipulation */

.collapsed:not(.expanded) iframe{
    pointer-events: none;
    filter: brightness(45%);
    background-color: rgb(214, 214, 214);
}

/* #endregion */

#søknader {
    display: flex;
    flex-direction: column;
}
#søknader>span{
    max-width: 450px;
    font-size: smaller;
    background-color: rgb(235, 191, 186);
    color: rgb(68, 55, 37);
    padding: 1em;
    margin: 1em;
    border-radius: 4px;
}

/* #region Collapsibles */

.collapsed{
    overflow: hidden;
    position: relative;
}
.collapsed:not(.expanded){max-height: 100px;}
.expanded .extension-indicator{display: none;}
.extension-indicator{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.544);
    color: white;
    width: 100%;
    height: 2em;
    text-align: center;
    align-items: center;
    justify-content: center;
}
dot{
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: rgb(233, 200, 200);
    border-radius: 100%;
    margin: 3px;
}
/* #endregion */

/* Responsive */
/* Mobile-first design */
.hide-on-browser {display: none;}
.hide-on-mobile {display: none;}