:root{
    --clr-primary: #d2d9e8;
    --clr-backround : #f6f1f1;
}

*{box-sizing: border-box;}

body{
    font-family: 'Nunito Sans', sans-serif;

    margin: 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

#img-placeholder{
    width: 145px;
    height: 150px;
    background-color: rgb(60, 60, 60);
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cv-wrapper{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    align-items: center;
}

h1{margin-bottom: 5px; padding-bottom: 5px; width: 200px; font-size: 1.3em;}
h1, h3{
    border-bottom: 1px solid black;
    text-transform: uppercase;
    text-align: center;
}
h3{width: 150px; margin-bottom: 5px; padding-bottom: 5px;}

#profile{
    background-color: var(--clr-backround);
    width: 100%;
    border-radius: .5em;
    padding: 2em;
}

#profile, #qualifications, div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#profile div{align-items: center;}
#background{
    background-color: var(--clr-primary);
    width: min-content;
    height: 680px;
    padding: 2em;
    border-radius: 1em;
}


/*#region Text placement*/

#contact{
    text-align: center;
}
#about{
    width: 180px;
}

/*#endregion*/


/*#region Text styling*/
.title{
    font-weight: bold;
}

.organization{
    font-style: italic;
    margin-bottom: .5em;
}

.langdesc{
    font-size: .8em
}

/*#endregion*/

#website{display: none;}

@media (min-width: 600px) {
    .cv-wrapper {
        flex-direction: row;
        
        background-color: var(--clr-backround);
    }
}