:root{
    --clr-primary: #d2d9e8;
    --clr-backround : #f6f1f1;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.cv-wrapper{
    display: flex;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    background-color: var(--clr-backround);
    padding: 1em 1em 4em;
    border-radius: 8px;
}

#img-placeholder{
    width: 145px;
    height: 150px;
    background-color: rgb(60, 60, 60);
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{margin-bottom: 5px; padding-bottom: 5px; font-size: 1.5em;}
h1, h3{
    border-bottom: 1px solid black;
    text-align: center;
    width: 10em;
    text-transform: uppercase;
}

section:not(.cv-wrapper){margin: 1em 2em;}
section:not(.cv-wrapper), section:not(.cv-wrapper)>div{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

#profile{
    background-color: var(--clr-primary); 
    border-radius: 1em;
    padding: 2em 1em 4em;
    max-width: 300px;
    align-self: center;
    margin-top: 3em;
}
#profile, #profile>div{
    align-items: center;
}

#profession{
    font-size: 1.2em;
    margin-bottom: 1em;
}

#about{
    max-width: 200px;
}

#cv{
    padding-bottom: 2em;
    min-width: 200px;
    max-width: 200px;
    align-self: center;
}

.title{
    font-weight: bold;
}

.organization{
    font-style: italic;
    margin-bottom: .5em;
}

.langdesc{
    font-size: .8em
}

#website{display: none;}

@media (min-width: 600px) {
    body{
        align-items: center;
    }
    .cv-wrapper {
      flex-direction: row;
      justify-content: space-around;
    }
  }