:root{
    --clr-primary: #d2d9e8;
    --clr-backround : #f6f1f1;
}

*{box-sizing: border-box;}
#website,
#references, #references *,
#socials, #socials *,
#img-placeholder
{display: none;}

body{
    font-family: 'Nunito Sans', sans-serif;

    margin: 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

#img-placeholder{
    width: 145px;
    height: 150px;
    background-color: rgb(60, 60, 60);
    border-radius: 50%;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
}

.cv-wrapper{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    max-width: 650px;
    border-radius: 8px;
    align-items: center;
    justify-content: space-evenly;
}
#document-title{text-align: center; font-size: 2em;}
h1{margin-bottom: 5px; padding-bottom: 5px; width: 200px; font-size: 1.3em;}
h1:not(#document-title), h3{
    border-bottom: 1px solid black;
    text-transform: uppercase;
    text-align: center;
}
h3{width: 75%; opacity: 75%;}
h1, h3{
    font-family: 'Aboreto', cursive;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

#profile{
    background-color: var(--clr-backround);
    border-radius: .5em;
    width: 100%;
    padding: 3em 0;
}
#profile, #profile div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile>div>div:not(#head){
    width: 180px;
}

#background{
    background-color: var(--clr-primary);
    height: 800px;
    padding: 2em;
    border-radius: 1em;
    justify-content: space-between;
}

#qualifications{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2em 0;
    height: 800px;
}
#qualifications>div{
    display: flex;
    flex-direction: column;
    width: 200px;
}

/*#region Text placement*/

#contact{
    text-align: center;
}
#about{
    width: 180px;
}

div .title:first-of-type{
    margin-top: 0;
}

.vertical-indent{
    height: 25px;
    margin: 2px 1px;
    border-left: 3px dotted black;
    opacity: 30%;
}

/*#endregion*/


/*#region Text styling*/
.title{
    font-weight: bold;
}

.organization{
    font-style: italic;
    margin-bottom: .5em;
}

.langdesc{
    font-size: .8em
}

/*#endregion*/



@media (min-width: 530px) {
    #profile{width: unset;}
    .cv-wrapper {
        flex-direction: row;
        background-color: var(--clr-backround);
    }
}