:root{
    --card-clr-primary: rgb(38, 38, 38);
    --card-clr-accent: rgb(94, 94, 94);
    --text-clr-primary: rgb(248, 244, 228);
    --bgr-clr-primary: rgb(27, 27, 27);

    -webkit-tap-highlight-color: transparent;
}

body{
    background-color: var(--bgr-clr-primary);
    box-sizing: border-box;
    display: flex;

    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 1em;
}

section{
    color: var(--text-clr-primary);
    font-family: sans-serif;
    display: grid;
    
    width: 100%;
    max-width: 1100px;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

@media screen and (min-width: 600px) {
    .argument{
        grid-column: span 2;
    }
}

.introduction{font-size: x-large;}
h1{font-size: 3em;}
.introduction, h1, .line{
    grid-column: 1 / -1;
    text-align: center;
}

.line{
    height: 3px;
    margin: 2em 1em;
    border-radius: 5em;
    background-color: rgba(255, 255, 255, 0.146);
}

h1, h3{font-family: sans;}
h3{font-size: 2em;}


.term, .argument{
    background: var(--card-clr-primary);
    border: 1px solid var(--card-clr-accent);
    border-radius: 1em;
    padding: 1em;
}

.term{
    color: var(--card-clr-accent);
    height: 300px;
    
    text-align: center;

    user-select: none;
    cursor: pointer;

    transition: color 600ms ease;
}

.term:hover, .term.open{
    color: var(--text-clr-primary);
}

.term span{
    display: block
}

.stems-from{
    margin-top: 1em;
}

.example{
    padding-top: 2em;
    font-style: italic;
}

:root{
    --clr-logos: rgb(231, 142, 142);
    --clr-pathos: rgb(156, 156, 219);
    --clr-ethos: rgb(214, 223, 162);
}

[data-reference="pathos"]{color: var(--clr-pathos);}
[data-reference="ethos"] {color: var(--clr-ethos);}
[data-reference="logos"] {color: var(--clr-logos);}

[data-reference="pathos"]:hover,
[data-reference="ethos"]:hover,
[data-reference="logos"]:hover {
    filter: saturate(0%);
    cursor: pointer;
}