:root{
    --card-clr-primary: rgb(38, 38, 38);
    --card-clr-accent: rgb(94, 94, 94);
    --text-clr-primary: rgb(248, 244, 228);
    --bgr-clr-primary: rgb(27, 27, 27);

    -webkit-tap-highlight-color: transparent;
}


body{
    font-family: sans-serif;
    box-sizing: border-box;
    display: grid;
    
    margin: 0;
    padding: 1em;

    grid-gap: 1em;
    grid-template-columns: 1fr;
    background-color: var(--bgr-clr-primary);
}

@media screen and (min-width: 520px) {
    body{
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    }
    .argument{
        grid-column: span 2;
    }
}

@media screen and (min-width: 900px) {
    body {
        padding: 1em 20%;
    }
}

.introduction, h1{
    grid-column: 1 / -1;
    text-align: center;
}

h1, h3{font-family: sans;}
h3{font-size: 2em;}

.term{
    background: var(--card-clr-primary);
    color: var(--card-clr-accent);
    border: 1px solid var(--card-clr-accent);
    border-radius: 1em;
    height: 300px;
    
    text-align: center;
    padding: 1em;

    user-select: none;
    cursor: pointer;

    transition: color 600ms ease;
}

.term:hover, .term.open{
    color: var(--text-clr-primary);
}

.term span{
    display: block
}
