:root{
    --clr-bg-text: rgba(0, 0, 0, 0.078);
}

.page{
    align-items: center;
    justify-content: space-evenly;
}

p{
    max-width: 400px;
    width: auto;
    padding: 1em;
    border-radius: 5px;
    background: var(--clr-bg-text);
}

/* #region Uke 34 */
#uke-34 iframe{
    height: 100%;
    width: 100%;
    max-width: 630px;
    grid-area: i;
}
#uke-34 h3 {grid-area: t;}
#uke-34 p{grid-area: p; max-width: 400px;}
/* #endregion */

/* #region Uke 35 */
svg{
    width: 150px;
    cursor: pointer;
}
#envelope-fill{
    fill: rgb(19, 19, 39);
}
#envelope-cover-l {
    fill: rgb(144, 162, 205);
}
#envelope-cover-r {
    fill: rgb(67, 108, 184);
}
#envelope-lid{
    fill: rgb(19, 19, 39);
    transition: .4s;
}

svg:hover #envelope-lid{
    d: path("M 900 300 L 0 300 L 400 50 Q 450 19 500 50 Z");
}

#søknader{display: none;}
/* #endregion */

#goto{cursor: pointer;}