:root{
    --clr-bg-text: rgba(0, 0, 0, 0.672);
    --clr-text: rgb(232, 232, 232);

    --clr-main: rgb(9, 14, 21);
}

body{
    background-color: var(--clr-main);
}

.page{
    align-items: center;
    justify-content: space-evenly;
}

h1{
    color: white; text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

h3{
    --ends: rgba(0, 0, 0, 0);
    --cntr: rgba(0, 0, 0, 0.8);

    color: white;
    background: linear-gradient(90deg, var(--ends) 10%, var(--cntr) 30%, var(--cntr) 70%, var(--ends) 90%);
    
    transition: top 0s ease .5s, opacity 0s ease .5s;
    
    position: absolute;
    text-align: center;
    font-size: min(20vw, 7em);
    width: 100vw;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    padding: 0;
    margin: 0;

    user-select: none;
}

.target h3{
    top: 0%;
    opacity: 0;
    transition: top .5s ease-in 1.2s, opacity .4s ease-in-out 1.3s;
}

p{
    max-width: 400px;
    width: auto;
    padding: 1em;
    border-radius: 5px;
    background: var(--clr-bg-text);
    color: var(--clr-text);
    font-size: large;
}

/* #region Uke 34 */

#uke-34 .bgr-clr{
    position: absolute;
    width: 100%;
    height: 20%;
    z-index: -1;

    bottom: 0;
    transition: all 1s ease;
}

#uke-34.target .bgr-clr {
    background-color: #581a14;
    box-shadow: 0 0 80em 18em #f45304;
    transition: all 6s ease;
}

#uke-34 iframe{
    height: 100%;
    width: 100%;
    max-width: 630px;
}
#uke-34 iframe+iframe{
    display: hidden;
}
#uke-34 p{max-width: 400px;}

/* #endregion */

/* #region Uke 35 */
svg{
    width: 150px;
    cursor: pointer;
}

:root{--env-fill: rgb(240, 233, 219);}
#envelope-fill{
    fill: var(--env-fill);
}
#envelope-cover-l {
    fill: var(--env-fill);
    stroke: black;
    stroke-width: 8px;
    transition: .4s;
}
#envelope-cover-r {
    fill: var(--env-fill);
    stroke: black;
    stroke-width: 8px;
    transition: .4s;
}
#envelope-lid{
    fill: var(--env-fill);
    stroke: black;
    stroke-width: 8px;
    transition: .3s ease;
}

svg:hover #envelope-lid{
    d: path("M 900 300 L 0 300 L 400 50 Q 450 19 500 50 Z");
}

#søknader{display: none;}

/* #endregion */

/* #region Uke 38 */

#uke-38 img{
    height: 50%;
    border-radius: 1em;
}

/* #endregion */

#goto{cursor: pointer;}

.day{
    color: white;
}