.page{
    align-items: center;
    justify-content: space-evenly;
}

#uke-34 iframe{
    height: 100%;
    width: 100%;
    max-width: 630px;
    grid-area: i;
}
#uke-34 h3 {grid-area: t;}
#uke-34 p{grid-area: p; max-width: 400px;}
